In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('new_data.csv',encoding = "ISO-8859-1")
data

        sentiment                                              tweet
0               0  is upset that he can't update his Facebook by ...
1               0  @Kenichan I dived many times for the ball. Man...
2               0    my whole body feels itchy and like its on fire
3               0  @nationwideclass no, it's not behaving at all....
4               0                      @Kwesidei not the whole crew
...           ...                                                ...
199995          4  @jvdouglas  haha, no, the remark on maternity ...
199996          4                              @altitis and to you!
199997          4  Okie doke!! Time for me to escape for the Nort...
199998          4                     finished the lessons, hooray!
199999          4  Some ppl are just fucking KP0. Cb ! Stop askin...

[200000 rows x 2 columns]

In [12]:
data = data[['sentiment','tweet']]

In [39]:
new_data = []

In [44]:
positive = 0
negative = 0
for index,row in data.iterrows():
    if row['sentiment'] == 0:
        if positive == 100000:
            continue
        new_data.append([row['sentiment'],row['tweet']])
        positive += 1
    else:
        if negative == 100000:
            continue
        new_data.append([row['sentiment'],row['tweet']])
        negative += 1

In [48]:
new_data = pd.DataFrame(new_data,columns = ['sentiment','tweet'])

In [50]:
new_data.to_csv("new_data.csv", index = False)

In [9]:
from pandas import DataFrame

df = data

X_train = df.tweet
y_train = df.sentiment

y_train[y_train==4]=1

X_train = DataFrame (X_train,columns=['tweet'])
y_train = DataFrame (y_train,columns=['sentiment'])

/home/smartcat/anaconda3/envs/myenv_1/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
indstest = pd.isnull(y_train).any(1).nonzero()[0]

print(len(indstest))

0

/home/smartcat/anaconda3/envs/myenv_1/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  """Entry point for launching an IPython kernel.